<a href="https://colab.research.google.com/github/Cuong197ct09605/phantichdulieu/blob/main/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Chào mừng các bạn đén với thực hành PTDL -Lab01')

Chào mừng các bạn đén với thực hành PTDL -Lab01

In [ ]:
arr = [12,-4,7,9]

In [ ]:
type(arr)

list

In [ ]:
import pandas as pd
s = pd.Series(arr)
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
import pandas as pd
s2 = pd.Series([12,-4,7,9], index=['a', 'b', 'c', 'd'])
print (s2)

a    12
b    -4
c     7
d     9
dtype: int64

In [ ]:
s2.values

array([12, -4,  7,  9])

In [ ]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [ ]:
frame.color

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [ ]:
frame['color']

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [ ]:
type(data)

dict

In [ ]:
frame2 = pd.DataFrame (frame, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [ ]:
frame2['type'] ='normal'
frame2

   object  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

In [ ]:
len(frame2)

5

In [ ]:
frame2['price'][0]

1.2

In [ ]:
for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good' #update ith of column type with a new value
frame2

   object  price    type
0    ball    1.2    good
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7    good

In [ ]:
frame2['discount'] = frame2['price']*0.02
frame2

   object  price    type  discount
0    ball    1.2    good     0.024
1     pen    1.0  normal     0.020
2  pencil    0.6  normal     0.012
3   paper    0.9  normal     0.018
4     mug    1.7    good     0.034

In [ ]:
frame2['price_afterdiscount'] = frame2['price'] - frame2['discount']
frame2

   object  price    type  discount  price_afterdiscount
0    ball    1.2    good     0.024                1.176
1     pen    1.0  normal     0.020                0.980
2  pencil    0.6  normal     0.012                0.588
3   paper    0.9  normal     0.018                0.882
4     mug    1.7    good     0.034                1.666

In [ ]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv")

In [ ]:
dulieuxettuyen.head(2)

   STT   T1   L1   H1   S1   V1   X1   D1  ...   N6  GT  DT   KV   DH1   DH2  DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...  5.9   F NaN  2NT  3.25  3.25  4.5  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...  4.4   M NaN    1  6.00  4.00  3.5   C

[2 rows x 56 columns]

In [ ]:
dulieuxettuyenKI = pd.DataFrame(dulieuxettuyen, columns=['T1',	'L1',	'H1',	'S1',	'V1',	'X1',	'D1',	'N1'])

In [ ]:
dulieuxettuyenKI.columns

Index(['T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1'], dtype='object')

In [ ]:
dulieuxettuyenKI.tail(3)

     T1   L1   H1   S1   V1   X1   D1   N1
97  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5
98  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8
99  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4

In [ ]:
import pandas as pd
dltuyensinh_withoutHeader = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv", header = None)
print (dltuyensinh_withoutHeader)

      0    1    2    3    4    5    6   ...  49   50   51    52    53    54  55
0    STT   T1   L1   H1   S1   V1   X1  ...  GT   DT   KV   DH1   DH2   DH3  KT
1      1  7.2  7.3  6.3  7.3    7  7.9  ...   F  NaN  2NT  3.25  3.25   4.5  A1
2      2  5.4  3.9  3.9    4  5.4  5.4  ...   M  NaN    1     6     4   3.5   C
3      3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M  NaN    1     5  6.75     4   C
4      4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M  NaN    1  4.25  4.25  5.25  D1
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
96    96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F  NaN    1  5.25   1.5  6.25   C
97    97  3.7  5.4    6  5.1  5.5  3.9  ...   F  NaN    1  5.25  3.75  4.75   C
98    98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M  NaN  2NT     7     8     4   C
99    99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M  NaN    1     5   3.5   5.5   C
100  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M  NaN  2NT  5.25   2.5  4.25   C

[101 rows x 56 columns]

In [ ]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),
		index =['white', 'black', 'red','blue'],
		columns =['up', 'down', 'right', 'left'])
frame.to_json('frame.json')
#Read json-formatted data
jsonFrame = pd.read_json('frame.json')
print(jsonFrame)

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [1]:
import pandas as pd
example11 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/example11.txt', sep='\D+', header=None, engine='python')
print (example11)

   0    1    2
0  0  123  122
1  1  124  321
2  2  125  333

In [3]:
import pandas as pd
example12 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/example12.txt', sep=',', skiprows=[0,1,3,6])
print (example12)

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [4]:
import pandas as pd
example13 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/example13.txt', skiprows=[2], nrows=3)
print (example13)

  white,red,blue,green,animal
0                 1,5,2,3,cat
1               3,3,6,7,horse
2                2,2,8,3,duck

In [5]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),index = ['red', 'blue', 'yellow','white'],columns = ['ball', 'pen', 'pencil', 'paper'])
print(frame)

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [6]:
newframe = pd.DataFrame(frame, columns=['paper','pen'])
print(newframe)

        paper  pen
red         3    1
blue        7    5
yellow     11    9
white      15   13

In [7]:
filteredFrame = frame[frame < 11]
print(filteredFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN
white    NaN  NaN     NaN    NaN

In [8]:
dropAllNaNFrame = filteredFrame.dropna()
print (dropAllNaNFrame)

      ball  pen  pencil  paper
red    0.0  1.0     2.0    3.0
blue   4.0  5.0     6.0    7.0

In [9]:
dropNaNAllFrame = filteredFrame.dropna(how='all')
print(dropNaNAllFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN

In [10]:
filteredFrame.isnull().sum()

ball      1
pen       1
pencil    1
paper     2
dtype: int64

In [11]:
print (filteredFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN
white    NaN  NaN     NaN    NaN

In [12]:
fillnazeroFrame = filteredFrame.fillna(0)
print(fillnazeroFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    0.0
white    0.0  0.0     0.0    0.0

In [13]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive